<p>
  <%= @doctor.name %>
</p>

<p>
  <%= @doctor.address %>
</p>

<p>
  <%= @doctor.city %>
</p>

<p>
  <%= @doctor.state %>
</p>

<p>
  <%= @doctor.zip %>
</p>

<p>
  School: <%= @doctor.school %>
</p>

<p>
  Experience:  <%= @doctor.experience %> years.
</p>


<%= link_to 'Edit', edit_doctor_path(@doctor) %> |
<%= link_to 'Back', doctors_path %>